body.familysearch_theme {
  font-size: 16px;
  line-height: 24px;
  color: #333331;
  font-family: 'Montserrat', Verdana, sans-serif;
}
.familysearch_theme h1,
.familysearch_theme h2,
.familysearch_theme h3,
.familysearch_theme h4 {
  font-family: "museo_slab500", serif;
  color: #333331;
}
.familysearch_theme h1 {
  color: #4d4d4a;
  font-size: 48px;
  line-height: 50px;
}
.familysearch_theme h2 {
  color: #4d4d4a;
  font-size: 36px;
  line-height: 39px;
}
.familysearch_theme h3 {
  font-size: 28px;
  line-height: 32px;
}
.familysearch_theme h4 {
  font-size: 21px;
  line-height: 24px;
}
.familysearch_theme a,
.familysearch_theme a:hover,
.familysearch_theme a:active {
  color: #0051c4;
}
.familysearch_theme .mainContent {
  padding: 20px;
  background: #ECEBEA;
  border-top: 1px solid #fff;
}
.familysearch_theme .profileHeaderContainer .jumbotron {
  border-bottom: 1px solid #B7B7B7;
  background: #cdcdcd no-repeat;
  position: relative;
  color: #333331;
}
.familysearch_theme .profileHeaderContainer .jumbotron .personWrapper .nameWrapper h1 {
  font-size: 28px;
  line-height: 32px;
  color: #333331;
  font-weight: bold;
}
.familysearch_theme .profileHeaderContainer .jumbotron .icon-rounded {
  box-shadow: 0px 0px 0px 6px #ffffff;
  width: 100px;
  height: 100px;
  font-size: 56px;
  line-height: 100px;
  padding-left: 0;
}
.familysearch_theme .profileHeaderContainer .jumbotron .icon-rounded.fs-icon-female {
  background: #F4F4F4;
  color: #dd407d;
}
.familysearch_theme .profileHeaderContainer .jumbotron .icon-rounded.fs-icon-male {
  background: #F4F4F4;
  color: #4888f8;
}
.familysearch_theme .profileHeaderContainer .jumbotron .list-collapsed {
  line-height: 1em;
  font-size: 16px;
}
.familysearch_theme .profileHeaderContainer .jumbotron .personActions {
  margin-top: 10px;
}
.familysearch_theme .profileHeaderContainer .jumbotron .personActions a {
  color: #333331;
}
.familysearch_theme .profileHeaderContainer .jumbotron .pid {
  float: none;
  display: inline-block;
  padding-left: 30px;
}
.familysearch_theme .profileHeaderContainer .jumbotron .pid li {
  list-style: disc;
}
.familysearch_theme .panel {
  background: #fff;
  border: 1px solid #CACACA;
  font-size: 14px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
.familysearch_theme .panel .panel-title {
  font-size: 20px;
}
.familysearch_theme .panel .panel-title .badge {
  margin-top: 2px;
}
.familysearch_theme .panel .panel-heading {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.familysearch_theme .source-objects,
.familysearch_theme .discussion-objects,
.familysearch_theme .note-objects {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.familysearch_theme .source-objects .panel-heading,
.familysearch_theme .discussion-objects .panel-heading,
.familysearch_theme .note-objects .panel-heading {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.familysearch_theme .family-panel h5 {
  text-align: left;
  margin-left: 18px;
  margin-bottom: 0;
}
.familysearch_theme .familyWidgetContainer .row .tree-family .panel-body table tr:hover {
  background-color: #F7F6F3;
}
.familysearch_theme .familyWidgetContainer .row .family-panel .tree-family .panel-heading {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
}
.familysearch_theme [class*=panel-].panel-primary .options a {
  color: #333331;
}
.familysearch_theme .panel-heading .options > a {
  opacity: .8;
}
.familysearch_theme .well.editing {
  background-color: #ECEBEA;
  border: 1px solid #CDCDCD;
}
.familysearch_theme .well.openDetails {
  background-color: #fff;
  border: 1px solid #CDCDCD;
}
.familysearch_theme label {
  margin-bottom: 0;
}
.familysearch_theme .panel-primary > .panel-heading {
  background: #fff;
  border: 0;
  padding-top: 15px;
}
.familysearch_theme .family-panel .detailsWell.editing a,
.familysearch_theme .family-panel .well.editing a,
.familysearch_theme .family-panel .detailsWell.editing .btn-link,
.familysearch_theme .family-panel .well.editing .btn-link {
  color: #0051C4;
  opacity: 1;
}
.familysearch_theme .family-panel .detailsWell:last-child,
.familysearch_theme .family-panel .well:last-child {
  margin-bottom: 20px;
}
.familysearch_theme .detailActions.pull-right {
  float: none !important;
  margin-bottom: 3px;
  font-size: 12px;
  line-height: 12px;
}
.familysearch_theme .detailActions.pull-right a {
  color: #333331;
}
.familysearch_theme .detailActions.pull-right i {
  display: none;
}
.familysearch_theme .closeDetail i {
  display: inline-block !important;
}
.familysearch_theme .detailActions .btn {
  padding-left: 0;
  padding-right: 10px;
  font-size: 14px;
}
.familysearch_theme .family-panel .detailsWell,
.familysearch_theme .family-panel .well {
  padding: 11px 19px 0;
  background-color: inherit;
  border-radius: 4px 4px 4px 4px;
  margin: 5px 20px 0 20px;
  font-size: 14px;
}
.familysearch_theme .family-panel .detailsWell .detailActions,
.familysearch_theme .family-panel .well .detailActions {
  display: none;
}
.familysearch_theme .family-panel .detailsWell .itemBody p:last-child,
.familysearch_theme .family-panel .well .itemBody p:last-child {
  margin: 0;
}
.familysearch_theme .family-panel .detailsWell h3,
.familysearch_theme .family-panel .well h3 {
  border-radius: 0;
  font-size: 20px;
  font-weight: normal;
  color: #4d4d4a;
}
.familysearch_theme .family-panel .detailsWell:last-child,
.familysearch_theme .family-panel .well:last-child {
  margin-bottom: 0px;
}
.familysearch_theme .family-panel .detailsWell .form-group,
.familysearch_theme .family-panel .well .form-group,
.familysearch_theme .family-panel .detailsWell .actionRow,
.familysearch_theme .family-panel .well .actionRow,
.familysearch_theme .family-panel .detailsWell .editingItem,
.familysearch_theme .family-panel .well .editingItem,
.familysearch_theme .family-panel .detailsWell .detailsItem,
.familysearch_theme .family-panel .well .detailsItem {
  display: none;
}
.familysearch_theme .family-panel .detailsWell.openDetails,
.familysearch_theme .family-panel .well.openDetails,
.familysearch_theme .family-panel .detailsWell.openDetails:hover,
.familysearch_theme .family-panel .well.openDetails:hover {
  background: #fff;
}
.familysearch_theme .family-panel .detailsWell.openDetails .detailsItem,
.familysearch_theme .family-panel .well.openDetails .detailsItem,
.familysearch_theme .family-panel .detailsWell.openDetails:hover .detailsItem,
.familysearch_theme .family-panel .well.openDetails:hover .detailsItem {
  display: inline-block;
}
.familysearch_theme .family-panel .detailsWell.openDetails .non-form,
.familysearch_theme .family-panel .well.openDetails .non-form,
.familysearch_theme .family-panel .detailsWell.openDetails:hover .non-form,
.familysearch_theme .family-panel .well.openDetails:hover .non-form {
  display: inline-block;
}
.familysearch_theme .family-panel .detailsWell.editing,
.familysearch_theme .family-panel .well.editing {
  background-color: #f3f3f1;
  color: #333331;
}
.familysearch_theme .family-panel .detailsWell.editing .detailModifiedSources,
.familysearch_theme .family-panel .well.editing .detailModifiedSources,
.familysearch_theme .family-panel .detailsWell.editing .detailsModifiedHistory,
.familysearch_theme .family-panel .well.editing .detailsModifiedHistory,
.familysearch_theme .family-panel .detailsWell.editing hr,
.familysearch_theme .family-panel .well.editing hr {
  display: none;
}
.familysearch_theme .family-panel .detailsWell.editing a,
.familysearch_theme .family-panel .well.editing a,
.familysearch_theme .family-panel .detailsWell.editing .btn-link,
.familysearch_theme .family-panel .well.editing .btn-link {
  color: #0051c4;
  opacity: .6;
}
.familysearch_theme .family-panel .detailsWell.editing a:hover,
.familysearch_theme .family-panel .well.editing a:hover,
.familysearch_theme .family-panel .detailsWell.editing .btn-link:hover,
.familysearch_theme .family-panel .well.editing .btn-link:hover {
  opacity: 1;
}
.familysearch_theme .family-panel .detailsWell.editing .form-group,
.familysearch_theme .family-panel .well.editing .form-group,
.familysearch_theme .family-panel .detailsWell.editing .actionRow,
.familysearch_theme .family-panel .well.editing .actionRow,
.familysearch_theme .family-panel .detailsWell.editing .editingItem,
.familysearch_theme .family-panel .well.editing .editingItem {
  display: block;
}
.familysearch_theme .family-panel .detailsWell.editing .non-form,
.familysearch_theme .family-panel .well.editing .non-form,
.familysearch_theme .family-panel .detailsWell.editing .detailActions,
.familysearch_theme .family-panel .well.editing .detailActions {
  display: none;
}
.familysearch_theme .family-panel .detailsWell.editing,
.familysearch_theme .family-panel .well.editing,
.familysearch_theme .family-panel .detailsWell.openDetails,
.familysearch_theme .family-panel .well.openDetails {
  border: 1px solid #dedbd7;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 10px #dedbd7;
  -ms-box-shadow: 0 0 10px #dedbd7;
  -moz-box-shadow: 0 0 10px #dedbd7;
  -o-box-shadow: 0 0 10px #dedbd7;
  -webkit-box-shadow: 0 0 10px #dedbd7;
  margin-bottom: 16px;
  padding: 10px 18px 10px 18px;
}
.familysearch_theme .family-panel .detailsWell.editing hr,
.familysearch_theme .family-panel .well.editing hr,
.familysearch_theme .family-panel .detailsWell.openDetails hr,
.familysearch_theme .family-panel .well.openDetails hr {
  margin: 10px 0;
}
.familysearch_theme .family-panel .detailsWell.editing .detailActions,
.familysearch_theme .family-panel .well.editing .detailActions,
.familysearch_theme .family-panel .detailsWell.openDetails .detailActions,
.familysearch_theme .family-panel .well.openDetails .detailActions {
  display: block;
}
.familysearch_theme .family-panel .detailsWell.editing .detailActions.pull-right,
.familysearch_theme .family-panel .well.editing .detailActions.pull-right,
.familysearch_theme .family-panel .detailsWell.openDetails .detailActions.pull-right,
.familysearch_theme .family-panel .well.openDetails .detailActions.pull-right {
  float: right !important;
}
.familysearch_theme .family-panel .detailsWell.editing .itemBody p:last-child,
.familysearch_theme .family-panel .well.editing .itemBody p:last-child,
.familysearch_theme .family-panel .detailsWell.openDetails .itemBody p:last-child,
.familysearch_theme .family-panel .well.openDetails .itemBody p:last-child {
  margin: 0 0 10px;
}
.familysearch_theme .family-panel .detailsWell h3,
.familysearch_theme .family-panel .well h3 {
  margin-top: 0;
}
.familysearch_theme .family-panel .detailsWell:last-child,
.familysearch_theme .family-panel .well:last-child {
  margin-bottom: 20px;
}
.familysearch_theme .tree-family.jumbotron {
  margin-bottom: 0;
  border-bottom: 1px solid #B7B7B7;
}
.familysearch_theme .sidebar .panel {
  border-color: #ADACAB;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
}
.familysearch_theme .sidebar .panel-heading {
  background: #DEDBD7;
  padding: 5px 15px;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  margin: 0;
  border-bottom-color: #ADACAB;
}
.familysearch_theme .sidebar .panel-heading a {
  color: #3B3A35;
}
.familysearch_theme .sidebar .panel-heading .panel-title {
  color: #3B3A35;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.familysearch_theme .family-panel .tree-family .panel-heading {
  background-color: #F3F3F1;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  width: auto;
  padding: 0 10px;
  height: auto;
  border-radius: 2px;
  border-color: #B1B1B1;
}
.familysearch_theme .family-panel .panel {
  border: 0;
  border-radius: 0;
  margin: 20px;
}
.familysearch_theme .detailsWell h5 {
  margin-top: 0;
  font-size: 14px;
  font-weight: normal;
  color: #4d4d4a;
}
.familysearch_theme .detailsWell.editing h5 {
  display: none;
}
.familysearch_theme .detailModified {
  clear: both;
  margin-top: 10px;
  font-size: .95em;
  line-height: 1.3em;
}
.familysearch_theme .lifeSketchWidgetContainer .family-panel .well .detailsWell .detailActions,
.familysearch_theme .lifeSketchWidgetContainer .family-panel .detailsWell .detailActions {
  display: inline-block;
}
.familysearch_theme .lifeSketchWidgetContainer .family-panel .well .detailsWell.editing .detailActions,
.familysearch_theme .lifeSketchWidgetContainer .family-panel .detailsWell.editing .detailActions {
  display: none;
}
.familysearch_theme .familyWidgetContainer .family-panel .panel {
  margin-top: 10px;
}
.familysearch_theme .lowerBar {
  margin: 0 -10px;
}
.familysearch_theme .detailsWell:hover {
  background-color: inherit;
  box-shadow: none;
}
.familysearch_theme .spousesAndChildren {
  padding-left: 20px;
  padding-right: 0;
}
.familysearch_theme .parentsAndChildren {
  padding-right: 20px;
  padding-left: 0;
}
.familysearch_theme .lowerBar a {
  color: #fff;
}
