body {
  color: #333331;
  font-family: 'Montserrat', Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
h1,
h2,
h3,
h4 {
  font-family: "museo_slab500", serif;
  color: #333331;
}
h1 {
  color: #4d4d4a;
  font-size: 48px;
  line-height: 50px;
}
h2 {
  color: #4d4d4a;
  font-size: 36px;
  line-height: 39px;
}
h3 {
  font-size: 28px;
  line-height: 32px;
}
h4 {
  font-size: 21px;
  line-height: 24px;
}
a,
a:hover,
a:active {
  color: #0051c4;
}
.mainContent {
  padding: 20px;
  background: #ECEBEA;
  border-top: 1px solid #fff;
}
.profileHeaderContainer .jumbotron {
  border-bottom: 1px solid #B7B7B7;
  background: #cdcdcd no-repeat;
  position: relative;
  color: #333331;
}
.profileHeaderContainer .jumbotron .personWrapper .nameWrapper h1 {
  font-size: 28px;
  line-height: 32px;
  color: #333331;
  font-weight: bold;
}
.profileHeaderContainer .jumbotron .icon-rounded {
  box-shadow: 0px 0px 0px 6px #ffffff;
  width: 100px;
  height: 100px;
  font-size: 56px;
  line-height: 100px;
  padding-left: 0;
}
.profileHeaderContainer .jumbotron .icon-rounded.fs-icon-female {
  background: #F4F4F4;
  color: #dd407d;
}
.profileHeaderContainer .jumbotron .icon-rounded.fs-icon-male {
  background: #F4F4F4;
  color: #4888f8;
}
.profileHeaderContainer .jumbotron .list-collapsed {
  line-height: 1em;
  font-size: 16px;
  line-height: 20px;
}
.profileHeaderContainer .jumbotron .personActions {
  margin-top: 10px;
}
.profileHeaderContainer .jumbotron .personActions a {
  color: #333331;
}
.profileHeaderContainer .jumbotron .pid {
  float: none;
  display: inline-block;
  padding-left: 30px;
}
.profileHeaderContainer .jumbotron .pid li {
  list-style: disc;
}
.panel {
  border-bottom: 0;
  background: #fff;
  border: 1px solid #CACACA;
  font-size: 14px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
.panel .panel-title {
  font-size: 20px;
}
.panel .panel-heading {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.source-objects,
.discussion-objects,
.note-objects {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.source-objects .panel-heading,
.discussion-objects .panel-heading,
.note-objects .panel-heading {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.family-panel h5 {
  text-align: left;
  margin-left: 18px;
  margin-bottom: 0;
}
.familyWidgetContainer .row {
  margin-bottom: 19px;
}
.familyWidgetContainer .row .tree-family .panel-body table tr:hover {
  background-color: #F7F6F3;
}
.familyWidgetContainer .row .family-panel .tree-family .panel-heading {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
}
[class*=panel-].panel-primary .options a {
  color: #333331;
}
.panel-heading .options > a {
  opacity: .8;
}
.well.editing {
  background-color: #ECEBEA;
  border: 1px solid #CDCDCD;
}
.well.openDetails {
  background-color: #fff;
  border: 1px solid #CDCDCD;
}
label {
  margin-bottom: 0;
}
.panel-primary > .panel-heading {
  background: #fff;
  border: 0;
  padding-top: 15px;
}
.family-panel .detailsWell.editing a,
.family-panel .well.editing a,
.family-panel .detailsWell.editing .btn-link,
.family-panel .well.editing .btn-link {
  color: #0051C4;
  opacity: 1;
}
.family-panel .detailsWell:last-child,
.family-panel .well:last-child {
  margin-bottom: 20px;
}
.detailActions.pull-right {
  float: none !important;
  margin-bottom: 3px;
  font-size: 12px;
  line-height: 12px;
}
.detailActions.pull-right a {
  color: #333331;
}
.detailActions.pull-right i {
  display: none;
}
.closeDetail i {
  display: inline-block !important;
}
.detailActions .btn {
  padding-left: 0;
  padding-right: 10px;
  font-size: 14px;
}
.family-panel .detailsWell,
.family-panel .well {
  margin-top: 0;
  padding: 0;
  padding: 11px 19px 0;
  background-color: inherit;
  border-radius: 4px 4px 4px 4px;
  margin: 5px 20px 0 20px;
  font-size: 14px;
}
.family-panel .detailsWell .detailActions,
.family-panel .well .detailActions {
  display: none;
}
.family-panel .detailsWell .itemBody p:last-child,
.family-panel .well .itemBody p:last-child {
  margin: 0;
}
.family-panel .detailsWell h3,
.family-panel .well h3 {
  border-radius: 0;
  font-size: 20px;
  font-weight: normal;
  color: #4d4d4a;
}
.family-panel .detailsWell:last-child,
.family-panel .well:last-child {
  margin-bottom: 0px;
}
.family-panel .detailsWell .form-group,
.family-panel .well .form-group,
.family-panel .detailsWell .actionRow,
.family-panel .well .actionRow,
.family-panel .detailsWell .editingItem,
.family-panel .well .editingItem,
.family-panel .detailsWell .detailsItem,
.family-panel .well .detailsItem {
  display: none;
}
.family-panel .detailsWell.openDetails,
.family-panel .well.openDetails,
.family-panel .detailsWell.openDetails:hover,
.family-panel .well.openDetails:hover {
  background: #fff;
}
.family-panel .detailsWell.openDetails .detailsItem,
.family-panel .well.openDetails .detailsItem,
.family-panel .detailsWell.openDetails:hover .detailsItem,
.family-panel .well.openDetails:hover .detailsItem {
  display: inline-block;
}
.family-panel .detailsWell.openDetails .non-form,
.family-panel .well.openDetails .non-form,
.family-panel .detailsWell.openDetails:hover .non-form,
.family-panel .well.openDetails:hover .non-form {
  display: inline-block;
}
.family-panel .detailsWell.editing,
.family-panel .well.editing {
  background-color: #f3f3f1;
  color: #333331;
}
.family-panel .detailsWell.editing .detailModifiedSources,
.family-panel .well.editing .detailModifiedSources,
.family-panel .detailsWell.editing .detailsModifiedHistory,
.family-panel .well.editing .detailsModifiedHistory,
.family-panel .detailsWell.editing hr,
.family-panel .well.editing hr {
  display: none;
}
.family-panel .detailsWell.editing a,
.family-panel .well.editing a,
.family-panel .detailsWell.editing .btn-link,
.family-panel .well.editing .btn-link {
  color: #0051c4;
  opacity: .6;
}
.family-panel .detailsWell.editing a:hover,
.family-panel .well.editing a:hover,
.family-panel .detailsWell.editing .btn-link:hover,
.family-panel .well.editing .btn-link:hover {
  opacity: 1;
}
.family-panel .detailsWell.editing .form-group,
.family-panel .well.editing .form-group,
.family-panel .detailsWell.editing .actionRow,
.family-panel .well.editing .actionRow,
.family-panel .detailsWell.editing .editingItem,
.family-panel .well.editing .editingItem {
  display: block;
}
.family-panel .detailsWell.editing .non-form,
.family-panel .well.editing .non-form,
.family-panel .detailsWell.editing .detailActions,
.family-panel .well.editing .detailActions {
  display: none;
}
.family-panel .detailsWell.editing,
.family-panel .well.editing,
.family-panel .detailsWell.openDetails,
.family-panel .well.openDetails {
  padding-top: 11px;
  border: 1px solid #dedbd7;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 10px #dedbd7;
  -ms-box-shadow: 0 0 10px #dedbd7;
  -moz-box-shadow: 0 0 10px #dedbd7;
  -o-box-shadow: 0 0 10px #dedbd7;
  -webkit-box-shadow: 0 0 10px #dedbd7;
  margin-bottom: 16px;
  padding-bottom: 12px;
  padding: 10px 18px 10px 18px;
}
.family-panel .detailsWell.editing hr,
.family-panel .well.editing hr,
.family-panel .detailsWell.openDetails hr,
.family-panel .well.openDetails hr {
  margin: 10px 0;
}
.family-panel .detailsWell.editing .detailActions,
.family-panel .well.editing .detailActions,
.family-panel .detailsWell.openDetails .detailActions,
.family-panel .well.openDetails .detailActions {
  display: block;
}
.family-panel .detailsWell.editing .detailActions.pull-right,
.family-panel .well.editing .detailActions.pull-right,
.family-panel .detailsWell.openDetails .detailActions.pull-right,
.family-panel .well.openDetails .detailActions.pull-right {
  float: right !important;
}
.family-panel .detailsWell.editing .itemBody p:last-child,
.family-panel .well.editing .itemBody p:last-child,
.family-panel .detailsWell.openDetails .itemBody p:last-child,
.family-panel .well.openDetails .itemBody p:last-child {
  margin: 0 0 10px;
}
.family-panel .detailsWell h3,
.family-panel .well h3 {
  margin-top: 0;
}
.family-panel .detailsWell:last-child,
.family-panel .well:last-child {
  margin-bottom: 20px;
}
.tree-family.jumbotron {
  margin-bottom: 0;
  border-bottom: 1px solid #B7B7B7;
}
.sidebar .panel {
  border-color: #ADACAB;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}
.sidebar .panel-heading {
  background: #DEDBD7;
  padding: 5px 15px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  margin: 0;
  border-bottom-color: #ADACAB;
}
.sidebar .panel-heading a {
  color: #3B3A35;
}
.sidebar .panel-heading .panel-title {
  color: #3B3A35;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.family-panel .tree-family .panel-heading {
  background-color: #F3F3F1;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  width: auto;
  padding: 0 10px;
  height: auto;
  border-radius: 2px;
  border-color: #B1B1B1;
}
.family-panel .panel {
  border: 0;
  border-radius: 0;
  margin: 20px;
}
.detailsWell h5 {
  margin-top: 0;
  font-size: 14px;
  font-weight: normal;
  color: #4d4d4a;
}
.detailsWell.editing h5 {
  display: none;
}
.detailModified {
  clear: both;
  margin-top: 10px;
  font-size: .95em;
  line-height: 1.3em;
}
.lifeSketchWidgetContainer .family-panel .well .detailsWell .detailActions,
.lifeSketchWidgetContainer .family-panel .detailsWell .detailActions {
  display: inline-block;
}
.lifeSketchWidgetContainer .family-panel .well .detailsWell.editing .detailActions,
.lifeSketchWidgetContainer .family-panel .detailsWell.editing .detailActions {
  display: none;
}
.lowerBar {
  background: #808080;
  background: -moz-linear-gradient(top, #808080 0%, #666662 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #808080), color-stop(100%, #666662));
  background: -webkit-linear-gradient(top, #808080 0%, #666662 100%);
  background: -o-linear-gradient(top, #808080 0%, #666662 100%);
  background: -ms-linear-gradient(top, #808080 0%, #666662 100%);
  background: linear-gradient(to bottom, #808080 0%, #666662 100%);
  border: 1px solid #333331;
  border-radius: 0 0 2px 2px;
  padding-right: 10px;
  margin: 0 -10px;
  line-height: 40px;
  text-transform: uppercase;
  min-height: 16px;
  height: 40px;
  text-align: right;
}
.lowerBar a {
  color: #ffffff;
}
