<div class="cardFrame contributorCard">
  <div class="content">
    <div class="container clearfix">
      <h3>{{alias}} <small>{{cid}}</small></h3>
      {{#name}}<div class="row">        
        <div class="col-lg-5">
          Full Name
        </div>
        <div class="col-lg-7">
          {{name}}
        </div>
      </div>{{/name}}
      {{#email}}<div class="row">        
        <div class="col-lg-5">
          E-mail Address
        </div>
        <div class="col-lg-7">
          <a href="mailto:{{email}}">{{email}}</a>
        </div>
      </div>{{/email}}
    </div>
  </div>
</div>