<ul class="pedigree-chart">
    <li class="branch">

        {{#node1}}
            {{>node}}
        {{/node1}}

        
        <ul class="node-list">
            <li class="branch">
                {{#node2}}
                    {{>node}}
                {{/node2}}
                <ul class="node-list">
                    <li class="branch hidden-xs">
                        {{#node4}}
                            {{>node}}
                        {{/node4}}
                        <ul class="node-list hidden-sm">
                            <li class="branch node--add">
                                {{#node8}}
                                    {{>node}}
                                {{/node8}}
                            </li>
                            <li class="branch node--add">
                                {{#node9}}
                                    {{>node}}
                                {{/node9}}
                            </li>
                        </ul>
                    </li>
                    <li class="branch hidden-xs">
                        {{#node5}}
                            {{>node}}
                        {{/node5}}
                        <ul class="node-list hidden-sm">
                            <li class="branch node--add">
                                {{#node10}}
                                    {{>node}}
                                {{/node10}}
                            </li>
                            <li class="branch node--add">
                                {{#node11}}
                                    {{>node}}
                                {{/node11}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="branch">
                {{#node3}}
                    {{>node}}
                {{/node3}}
                <ul class="node-list">
                    <li class="branch hidden-xs">
                        {{#node6}}
                            {{>node}}
                        {{/node6}}
                        <ul class="node-list hidden-sm">
                            <li class="branch node--add">
                                {{#node12}}
                                    {{>node}}
                                {{/node12}}
                            </li>
                            <li class="branch node--add">
                                {{#node13}}
                                    {{>node}}
                                {{/node13}}
                            </li>
                        </ul>
                    </li>
                    <li class="branch hidden-xs">
                        {{#node7}}
                            {{>node}}
                        {{/node7}}
                        <ul class="node-list hidden-sm">
                            <li class="branch node--add">
                                {{#node14}}
                                    {{>node}}
                                {{/node14}}
                            </li>
                            <li class="branch node--add">
                                {{#node15}}
                                    {{>node}}
                                {{/node15}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>