{{#sources}}
  <div class="panel-group" id="source-{{id}}">
    <div class="panel panel-default source-objects">
      <div class="panel-heading">
        <h4 class="panel-title source-title">
            {{#url}}
              <a data-parent="#source-{{id}}" data-toggle="collapse" href="#{{id}}">
                <div class="row">
                  <div class="col-md-2 hidden-sm hidden-xs" style="padding-left: 0;">
                    <img src="http://api.webthumbnail.org?width=64&height=64&url={{url}}" width="64" height="64" alt="Google" class="img-circle" />
                  </div>
                  <div class="col-md-10 col-sm-12">{{title}}</div>
              </a>
            {{/url}}
            {{^url}}
              <a data-parent="#source-{{id}}" data-toggle="collapse" href="#{{id}}">
                <div class="row">
                  <div class="col-md-2 hidden-sm hidden-xs" style="padding-left: 0;">
                    <i class="fa fa-archive">&nbsp;</i>
                  </div>
                  <div class="col-md-10 col-sm-12">{{title}}</div>
              </a>            
            {{/url}}
            {{#tags}}<br /><a data-parent="#source-{{id}}" data-toggle="collapse" href="#{{id}}"><span class="badge">{{tag}}</span></a> {{/tags}}
        </h4>
      </div>
      <div class="panel-collapse collapse" id="{{id}}">
        <div class="panel-body">
          {{#url}}<div class="row">
            <div class="col-md-3">
              <strong>URL</strong>:
            </div>
            <div class="col-md-9">
              <a href="{{url}}" rel="external" class="sourceUrl">{{url}}</a>
            </div>
          </div>{{/url}}
          {{#citation}}
          <div class="row">
            <div class="col-md-3">
              <strong>Citation</strong>:
            </div>
            <div class="col-md-9">
              {{citation}}
            </div>
          </div>
          {{/citation}}
          {{#note}}
          <div class="row">
            <div class="col-md-3">
              <strong>Notes</strong>:
            </div>
            <div class="col-md-9">
              {{note}}
            </div>
          </div>
          {{/note}}
          {{#justification}}
          <div class="row">
            <div class="col-md-3">
              <strong>Reason Source is Attached</strong>:
            </div>
            <div class="col-md-9">
              {{justification}}
            </div>
          </div>
          {{/justification}}
          <div class="row">
            <div class="col-md-3">
              <strong>Last Modified</strong>:
            </div>
            <div class="col-md-9">
              <abbr class="timeago" title="{{modified}}">{{modified}}</abbr> by <a class="contributorCard" href="#" data-pid="{{contributor}}">{{contributor}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/sources}}
{{^sources}}
  <center>None</center>
{{/sources}}